@font-face {
  font-family: 'futuraBold';
  src: url('../fonts/futura-md-bt-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'futuraLight';
  src: url('../fonts/futura-md-bt-light.ttf') format('truetype');
}
@font-face {
  font-family: 'futuraRegular';
  src: url('../fonts/futura-md-bt-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'futuraCyrBold';
  src: url('../fonts/futura-md-cyr-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'futuraCyrRegular';
  src: url('../fonts/futura-md-cyr-regular.ttf') format('truetype');
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/**
*
* Adjustment settings
*
**/
html,
body {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
.maincontent {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0;
      -ms-flex: 1 0;
          flex: 1 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
.container {
  width: 1155px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
/**
*
* Header
*
**/
header {
  background: #fff;
  /**
*
* Header navigation
*
**/
}
header div div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 6px;
}
header div div figure {
  margin: 0;
}
header div div figure span {
  width: 206px;
  display: block;
  margin: 0;
}
header div div figure span img {
  padding-top: 10px;
  width: 100%;
}
header div div figure figcaption h1 {
  margin: 0;
  font-family: 'futuraLight';
  font-size: 24px;
  line-height: 23px;
  text-transform: uppercase;
  color: #1c285b;
  padding-left: 10px;
  font-stretch: ultra-expanded;
  letter-spacing: 3.7px;
}
header div div section {
  padding-top: 73px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header div div section p {
  margin: 0;
  font-family: 'futuraCyrRegular';
  font-size: 18px;
  color: #1c285b;
  padding: 11px 9px 0 0;
}
header div div section h2 {
  margin: 0;
  font-family: 'futuraRegular';
  font-size: 26.04px;
  color: #1c285b;
  padding: 4px 18px 0 0;
}
header div div section button {
  height: 34px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-family: 'futuraLight';
  font-size: 14px;
  line-height: 25px;
  text-transform: uppercase;
  color: #fff;
  background: #1d275a;
  padding: 3px 13px 0 17px;
  cursor: pointer;
}
header hr {
  border: 1px solid #e2ddd8;
  border-right: none;
  border-left: none;
  width: 100%;
  padding-top: 4px;
  margin-top: 43px;
}
header div nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
header div nav ul.header__navigation-list-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 14px 0 20px 10px;
  padding: 0;
  list-style: none;
}
header div nav ul.header__navigation-list-wrap li.header__navigation-list-item {
  /**
*
* Header drop menu
*
**/
}
header div nav ul.header__navigation-list-wrap li.header__navigation-list-item ul.header__navigation-drop-menu {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.4s ease-in-out 0.2s, visibility 0.4s ease-in-out 0.2s;
  -o-transition: opacity 0.4s ease-in-out 0.2s, visibility 0.4s ease-in-out 0.2s;
  transition: opacity 0.4s ease-in-out 0.2s, visibility 0.4s ease-in-out 0.2s;
  margin: 0;
  list-style: none;
  position: absolute;
  background: #1d275a;
  padding: 13px 60px 26px 25px;
  top: 222px;
}
header div nav ul.header__navigation-list-wrap li.header__navigation-list-item ul.header__navigation-drop-menu li {
  margin-top: 7px;
}
header div nav ul.header__navigation-list-wrap li.header__navigation-list-item ul.header__navigation-drop-menu li a {
  text-decoration: none;
  font-family: 'futuraLight';
  font-size: 13px;
  letter-spacing: 0.5px;
  line-height: 15px;
  color: #fff;
}
header div nav ul.header__navigation-list-wrap li.header__navigation-list-item ul.header__navigation-drop-menu li a:hover {
  color: #c4ab2e;
}
header div nav ul.header__navigation-list-wrap li.header__navigation-list-item ul.header__navigation-drop-menu li img.hidden-image {
  position: absolute;
  top: 0;
  right: -140px;
  display: none;
}
header div nav ul.header__navigation-list-wrap li.header__navigation-list-item ul.header__navigation-drop-menu li:hover img.hidden-image {
  display: block;
}
header div nav ul.header__navigation-list-wrap li.header__navigation-list-item a.navigation__link-item {
  display: block;
  text-transform: uppercase;
  font-family: 'futuraLight';
  font-size: 14px;
  color: #5a5a5a;
  text-decoration: none;
  position: relative;
}
header div nav ul.header__navigation-list-wrap li.header__navigation-list-item a.navigation__link-item:before {
  content: '';
  position: absolute;
  width: 0;
  height: 4px;
  background: #1c285b;
  top: -26px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}
header div nav ul.header__navigation-list-wrap li.header__navigation-list-item a.navigation__link-item:hover {
  color: #1c285b;
}
header div nav ul.header__navigation-list-wrap li.header__navigation-list-item a.navigation__link-item:hover:before {
  width: 100%;
}
header div nav ul.header__navigation-list-wrap li.header__navigation-list-item:hover ul.header__navigation-drop-menu {
  opacity: 1;
  visibility: visible;
}
/**
*
* Big image (parallax)
*
**/
div.maincontent {
  /**
*
* image book
*
**/
  /**
*
* Soc Network
*
**/
}
div.maincontent section {
  /**
*
* Slider
*
**/
}
div.maincontent section div.maincontent__parallax {
  min-height: 350px;
  background: transparent;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  top: -50px;
  width: 100%;
  z-index: -1;
}
div.maincontent section div.maincontent__parallax div {
  content: '';
  position: absolute;
  width: 100%;
  background: #1d275a;
  height: 68px;
  bottom: 0;
}
div.maincontent section div.maincontent__parallax div div.container {
  width: 1155px;
  position: relative;
}
div.maincontent section div.maincontent__parallax div div.container h2 {
  content: '';
  font-family: 'futuraLight';
  font-size: 34px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.3px;
  padding: 16px 0 0 12px;
}
div.maincontent section div.container {
  position: relative;
}
div.maincontent section div.container div.maincontent__slider {
  border: 9px solid #fff;
  content: '';
  position: absolute;
  right: -9px;
  top: -183px;
}
div.maincontent section div.container div.maincontent__slider div.triangle-right {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 41px solid transparent;
  border-right: 41px solid #fff;
  border-bottom: 41px solid transparent;
  right: 0;
  top: 233px;
  cursor: pointer;
}
div.maincontent section div.container div.maincontent__slider div.triangle-right span {
  position: relative;
  border: 1px solid #5c5c5c;
  border-left: none;
  border-top: none;
  display: block;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -11px;
  right: -17px;
}
div.maincontent section div.container div.maincontent__slider div.triangle-left {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 41px solid transparent;
  border-left: 41px solid #fff;
  border-bottom: 41px solid transparent;
  top: 233px;
  left: 0;
  cursor: pointer;
}
div.maincontent section div.container div.maincontent__slider div.triangle-left span {
  position: relative;
  border: 1px solid #5c5c5c;
  border-right: none;
  border-bottom: none;
  display: block;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -11px;
  left: -40px;
}
div.maincontent section div.container div.maincontent__slider ul {
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
}
div.maincontent section div.container div.maincontent__slider ul li {
  margin: 13px 0 0 8px;
  width: 11px;
  height: 11px;
  background: #e2ddd8;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
div.maincontent section div.container div.maincontent__slider ul li.current-circle {
  background: #1c285b;
}
div.maincontent div.container div.maincontent__descr-invitations-wrap {
  width: 499px;
  content: '';
  margin: 13px 0 0 11px;
}
div.maincontent div.container div.maincontent__descr-invitations-wrap p {
  font-family: 'futuraCyrRegular';
  font-size: 13px;
  line-height: 20px;
  word-spacing: 0.8px;
  color: #838383;
}
div.maincontent div.container div.maincontent__descr-invitations-wrap p:nth-child(2) {
  padding-top: 7px;
}
div.maincontent div.container div.maincontent__descr-invitations-wrap p:nth-child(3) {
  padding-top: 7px;
  word-spacing: 0.5px;
}
div.maincontent div.container div.maincontent__descr-invitations-wrap p:nth-child(4) {
  padding-top: 7px;
  word-spacing: 0.2px;
}
div.maincontent div.container div.maincontent__descr-invitations-wrap p:nth-child(5) {
  padding-top: 7px;
  font-family: 'futuraCyrBold';
  color: #1d275a;
  word-spacing: 0;
}
div.maincontent section.maincontent__fotogallery-descr-wrap {
  margin: 86px 0 0 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}
div.maincontent section.maincontent__fotogallery-descr-wrap div {
  /*
*
**  Image hover  
*
*/
}
div.maincontent section.maincontent__fotogallery-descr-wrap div hr {
  height: 4px;
  border: 1px solid #e2ddd8;
  border-right: none;
  border-left: none;
  width: 100%;
}
div.maincontent section.maincontent__fotogallery-descr-wrap div h2.maincontent__fotogal-title {
  margin: 20px 0 0 5px;
  font-family: 'futuraLight';
  font-size: 18px;
  color: #5a5a5a;
  text-transform: uppercase;
}
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-third,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-second,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-first {
  opacity: 0;
}
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-third div.hidden-descr-btn-third,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-second div.hidden-descr-btn-third,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-first div.hidden-descr-btn-third,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-third div.hidden-descr-btn-second,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-second div.hidden-descr-btn-second,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-first div.hidden-descr-btn-second,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-third div.hidden-descr-btn-first,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-second div.hidden-descr-btn-first,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-first div.hidden-descr-btn-first {
  margin: 0;
  width: 320px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 4px;
  left: 0;
  color: #fff;
}
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-third div.hidden-descr-btn-third p.title-third,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-second div.hidden-descr-btn-third p.title-third,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-first div.hidden-descr-btn-third p.title-third,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-third div.hidden-descr-btn-second p.title-third,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-second div.hidden-descr-btn-second p.title-third,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-first div.hidden-descr-btn-second p.title-third,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-third div.hidden-descr-btn-first p.title-third,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-second div.hidden-descr-btn-first p.title-third,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-first div.hidden-descr-btn-first p.title-third,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-third div.hidden-descr-btn-third p.title-second,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-second div.hidden-descr-btn-third p.title-second,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-first div.hidden-descr-btn-third p.title-second,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-third div.hidden-descr-btn-second p.title-second,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-second div.hidden-descr-btn-second p.title-second,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-first div.hidden-descr-btn-second p.title-second,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-third div.hidden-descr-btn-first p.title-second,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-second div.hidden-descr-btn-first p.title-second,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-first div.hidden-descr-btn-first p.title-second,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-third div.hidden-descr-btn-third p.title-first,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-second div.hidden-descr-btn-third p.title-first,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-first div.hidden-descr-btn-third p.title-first,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-third div.hidden-descr-btn-second p.title-first,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-second div.hidden-descr-btn-second p.title-first,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-first div.hidden-descr-btn-second p.title-first,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-third div.hidden-descr-btn-first p.title-first,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-second div.hidden-descr-btn-first p.title-first,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-first div.hidden-descr-btn-first p.title-first {
  margin: 0;
  font-size: 90px;
  padding: 35px 0 0 26px;
}
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-third div.hidden-descr-btn-third p.descr-third,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-second div.hidden-descr-btn-third p.descr-third,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-first div.hidden-descr-btn-third p.descr-third,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-third div.hidden-descr-btn-second p.descr-third,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-second div.hidden-descr-btn-second p.descr-third,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-first div.hidden-descr-btn-second p.descr-third,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-third div.hidden-descr-btn-first p.descr-third,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-second div.hidden-descr-btn-first p.descr-third,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-first div.hidden-descr-btn-first p.descr-third,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-third div.hidden-descr-btn-third p.descr-second,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-second div.hidden-descr-btn-third p.descr-second,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-first div.hidden-descr-btn-third p.descr-second,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-third div.hidden-descr-btn-second p.descr-second,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-second div.hidden-descr-btn-second p.descr-second,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-first div.hidden-descr-btn-second p.descr-second,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-third div.hidden-descr-btn-first p.descr-second,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-second div.hidden-descr-btn-first p.descr-second,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-first div.hidden-descr-btn-first p.descr-second,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-third div.hidden-descr-btn-third p.descr-first,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-second div.hidden-descr-btn-third p.descr-first,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-first div.hidden-descr-btn-third p.descr-first,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-third div.hidden-descr-btn-second p.descr-first,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-second div.hidden-descr-btn-second p.descr-first,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-first div.hidden-descr-btn-second p.descr-first,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-third div.hidden-descr-btn-first p.descr-first,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-second div.hidden-descr-btn-first p.descr-first,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-first div.hidden-descr-btn-first p.descr-first {
  margin: 0;
  padding: 42px 0 0 10px;
  font-size: 13px;
  font-family: 'futuraLight';
  text-align: start;
  line-height: 20px;
}
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-third button.btn-third,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-second button.btn-third,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-first button.btn-third,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-third button.btn-second,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-second button.btn-second,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-first button.btn-second,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-third button.btn-first,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-second button.btn-first,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-first button.btn-first {
  position: absolute;
  cursor: pointer;
  border: 2px solid #fff;
  color: #fff;
  font-family: 'futuraRegular';
  font-size: 14px;
  text-transform: uppercase;
  background: transparent;
  padding: 7px 10px;
  outline: none;
  bottom: 0;
  right: 10px;
  margin: 0 122px 40px 0;
}
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-third:hover img,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-second:hover img,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.novisible-first:hover img {
  opacity: 0.3;
}
div.maincontent section.maincontent__fotogallery-descr-wrap div div.image-wrap {
  margin-top: 16px;
  display: block;
  position: relative;
}
div.maincontent section.maincontent__fotogallery-descr-wrap div div.image-wrap img {
  margin-top: 15px;
  margin: 0;
  vertical-align: bottom;
}
div.maincontent section.maincontent__fotogallery-descr-wrap div div.image-wrap:hover {
  background: rgba(28, 40, 91, 0.6);
}
div.maincontent section.maincontent__fotogallery-descr-wrap div div.image-wrap:hover img {
  opacity: 0.3;
}
div.maincontent section.maincontent__fotogallery-descr-wrap div div.image-wrap:hover div.novisible-third,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.image-wrap:hover div.novisible-second,
div.maincontent section.maincontent__fotogallery-descr-wrap div div.image-wrap:hover div.novisible-first {
  opacity: 1;
}
div.maincontent section.maincontent__social-networ {
  margin-top: 71px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
div.maincontent section.maincontent__social-networ hr.social-line-f {
  margin: 11px 0 0 0;
  height: 4px;
  border: 1px solid #e2ddd8;
  border-right: none;
  border-left: none;
  width: 44.5%;
}
div.maincontent section.maincontent__social-networ div.maincontent__social-img-f {
  background-image: url('../img/f.svg');
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin: 2px 0 0 21px;
}
div.maincontent section.maincontent__social-networ div.maincontent__social-img-f:hover {
  cursor: pointer;
  background-image: url('../img/f-bl.svg');
  background-repeat: no-repeat;
}
div.maincontent section.maincontent__social-networ div.maincontent__social-img-p {
  background-image: url('../img/p.svg');
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin: 3px 0 0 6px;
}
div.maincontent section.maincontent__social-networ div.maincontent__social-img-p:hover {
  cursor: pointer;
  background-image: url('../img/p-bl.svg');
  background-repeat: no-repeat;
}
div.maincontent section.maincontent__social-networ div.maincontent__social-img-tw {
  background-image: url('../img/tw.svg');
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin: 3px 0 0 11px;
}
div.maincontent section.maincontent__social-networ div.maincontent__social-img-tw:hover {
  cursor: pointer;
  background-image: url('../img/tw-bl.svg');
  background-repeat: no-repeat;
}
div.maincontent section.maincontent__social-networ div.maincontent__social-img {
  background-image: url('../img/in.svg');
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin: 1px 0 0 11px;
}
div.maincontent section.maincontent__social-networ div.maincontent__social-img:hover {
  cursor: pointer;
  background-image: url('../img/in-bl.svg');
  background-repeat: no-repeat;
}
div.maincontent section.maincontent__social-networ hr.social-line-s {
  margin: 11px 0 0 20px;
  height: 4px;
  border: 1px solid #e2ddd8;
  border-right: none;
  border-left: none;
  width: 44%;
}
/**
*
* Contacts and links
*
**/
div.maincontent__address-company-newslet-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
div.maincontent__address-company-newslet-wrap section.maincontent__adress-wrap {
  width: 288px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 21px 0 0 10px;
}
div.maincontent__address-company-newslet-wrap section.maincontent__adress-wrap h3 {
  margin: 0;
  padding-left: 2px;
  font-family: 'futuraLight';
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #5a5a5a;
}
div.maincontent__address-company-newslet-wrap section.maincontent__adress-wrap p.maincontent__address-adr {
  margin: 0;
  padding: 10px 0 0 1px;
  font-family: 'futuraCyrRegular';
  font-size: 13px;
  color: #959595;
}
div.maincontent__address-company-newslet-wrap section.maincontent__adress-wrap p.maincontent__address-num {
  margin: 0;
  padding: 6px 0 0 1px;
  font-family: 'futuraCyrRegular';
  font-size: 13px;
  color: #959595;
}
div.maincontent__address-company-newslet-wrap section.maincontent__adress-wrap figure {
  margin: 10px 0 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
div.maincontent__address-company-newslet-wrap section.maincontent__adress-wrap figure span {
  display: block;
  margin: 4px 0 0 4px;
}
div.maincontent__address-company-newslet-wrap section.maincontent__adress-wrap figure span img {
  width: 100%;
}
div.maincontent__address-company-newslet-wrap section.maincontent__adress-wrap figure figcaption p.descr-number {
  margin: 0;
  padding: 2px 0 0 12px;
  font-family: 'futuraCyrRegular';
  font-size: 13px;
  color: #959595;
  letter-spacing: 0.6px;
}
div.maincontent__address-company-newslet-wrap section.maincontent__adress-wrap figure figcaption p.descr-number label {
  padding-left: 2px;
  letter-spacing: 0;
}
div.maincontent__address-company-newslet-wrap section.maincontent__adress-wrap figure.maincontent__email-wrap {
  margin: 0;
}
div.maincontent__address-company-newslet-wrap section.maincontent__adress-wrap figure.maincontent__email-wrap span.maincontent__img-email-wrap {
  margin: 0;
  padding-top: 4px;
  display: block;
}
div.maincontent__address-company-newslet-wrap section.maincontent__adress-wrap figure.maincontent__email-wrap span.maincontent__img-email-wrap img {
  width: 100%;
}
div.maincontent__address-company-newslet-wrap section.maincontent__adress-wrap figure.maincontent__email-wrap figcaption p.descr-email {
  margin: 0;
  padding: 2px 0 0 8px;
  font-family: 'futuraCyrRegular';
  font-size: 13px;
  color: #959595;
  letter-spacing: 0.6px;
}
div.maincontent__address-company-newslet-wrap section.maincontent__adress-wrap figure.maincontent__email-wrap figcaption p.descr-email label {
  padding-left: 9px;
  letter-spacing: 0.1px;
  color: #1c285b;
}
div.maincontent__address-company-newslet-wrap section.maincontent__lists-links-wrap {
  margin: 49px 0 0 0;
}
div.maincontent__address-company-newslet-wrap section.maincontent__lists-links-wrap h2 {
  margin: 0;
  padding-left: 12px;
  font-family: 'futuraCyrRegular';
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  color: #5a5a5a;
}
div.maincontent__address-company-newslet-wrap section.maincontent__lists-links-wrap div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
div.maincontent__address-company-newslet-wrap section.maincontent__lists-links-wrap div ul.maincontent__list-link-home {
  margin: 0;
  list-style: none;
  padding-left: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
div.maincontent__address-company-newslet-wrap section.maincontent__lists-links-wrap div ul.maincontent__list-link-home li {
  padding-top: 10px;
  font-family: 'futuraCyrRegular';
  font-size: 13px;
  line-height: 15px;
}
div.maincontent__address-company-newslet-wrap section.maincontent__lists-links-wrap div ul.maincontent__list-link-home li a {
  text-decoration: none;
  color: #959595;
}
div.maincontent__address-company-newslet-wrap section.maincontent__lists-links-wrap div ul.maincontent__list-link-home li a.current-item-link {
  color: #c4ab2f;
}
div.maincontent__address-company-newslet-wrap section.maincontent__lists-links-wrap div ul.maincontent__list-link-home li a:hover {
  color: #c4ab2f;
}
div.maincontent__address-company-newslet-wrap section.maincontent__lists-links-wrap div ul.maincontent__list-link-products-serv {
  margin: 0;
  list-style: none;
  padding-left: 33px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
div.maincontent__address-company-newslet-wrap section.maincontent__lists-links-wrap div ul.maincontent__list-link-products-serv li {
  padding-top: 10px;
  font-family: 'futuraCyrRegular';
  font-size: 13px;
  line-height: 15px;
}
div.maincontent__address-company-newslet-wrap section.maincontent__lists-links-wrap div ul.maincontent__list-link-products-serv li a {
  text-decoration: none;
  color: #959595;
}
div.maincontent__address-company-newslet-wrap section.maincontent__lists-links-wrap div ul.maincontent__list-link-products-serv li a.current-item-link {
  color: #c4ab2f;
}
div.maincontent__address-company-newslet-wrap section.maincontent__lists-links-wrap div ul.maincontent__list-link-products-serv li a:hover {
  color: #c4ab2f;
}
div.maincontent__address-company-newslet-wrap section.maincontent__newsletter-wrap h2 {
  margin: 0;
  padding-top: 2px;
  font-family: 'futuraCyrRegular';
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  color: #5a5a5a;
}
div.maincontent__address-company-newslet-wrap section.maincontent__newsletter-wrap p {
  margin: 0;
  padding: 11px 0 0 0;
  font-family: 'futuraCyrRegular';
  font-size: 13px;
  color: #959595;
}
div.maincontent__address-company-newslet-wrap section.maincontent__newsletter-wrap span.maincontent__newsletter-search-btn {
  margin-top: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e2ddd8;
  font-family: 'futuraCyrRegular';
  font-size: 13px;
  line-height: 16px;
  color: #959595;
  width: 288px;
  height: 40px;
  text-align: center;
  letter-spacing: 1px;
}
div.maincontent__address-company-newslet-wrap section.maincontent__newsletter-wrap span.maincontent__newsletter-search-btn input {
  outline: none;
  border: none;
  width: 100%;
  height: 33px;
  padding: 14px 0 7px 13px;
}
div.maincontent__address-company-newslet-wrap section.maincontent__newsletter-wrap span.maincontent__newsletter-search-btn button {
  cursor: pointer;
  outline: none;
  width: 40px;
  position: relative;
  background: none;
  border-right: none;
  border-top: none;
  border-bottom: none;
}
div.maincontent__address-company-newslet-wrap section.maincontent__newsletter-wrap span.maincontent__newsletter-search-btn button:after {
  content: '';
  position: absolute;
  border: 1px solid #707070;
  width: 9px;
  height: 9px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border-left: 0;
  border-bottom: 0;
  top: 16px;
  right: 16px;
}
/**
*
* Footer
*
**/
footer {
  background: #f4f3f3;
  margin-top: 52px;
}
footer div section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer div section p {
  font-size: 11px;
  color: #959595;
  font-family: 'futuraCyrRegular';
  padding: 23px 0 0 10px;
}
