@font-face {
  font-family: 'futuraBold';
  src: url('../fonts/futura-md-bt-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'futuraLight';
  src: url('../fonts/futura-md-bt-light.ttf') format('truetype');
}
@font-face {
  font-family: 'futuraRegular';
  src: url('../fonts/futura-md-bt-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'futuraCyrBold';
  src: url('../fonts/futura-md-cyr-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'futuraCyrRegular';
  src: url('../fonts/futura-md-cyr-regular.ttf') format('truetype');
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/**
*
* Adjustment settings
*
**/
html,
body {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
.maincontent {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0;
      -ms-flex: 1 0;
          flex: 1 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
.container {
  width: 1155px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
header {
  background: #fff;
}
header div div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 6px;
}
header div div figure {
  margin: 0;
}
header div div figure span {
  width: 206px;
  display: block;
  margin: 0;
}
header div div figure span img {
  padding-top: 10px;
  width: 100%;
}
header div div figure figcaption h1 {
  margin: 0;
  font-family: 'futuraLight';
  font-size: 24px;
  line-height: 23px;
  text-transform: uppercase;
  color: #1c285b;
  padding-left: 10px;
  font-stretch: ultra-expanded;
  letter-spacing: 3.7px;
}
header div div section {
  padding-top: 73px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header div div section p {
  margin: 0;
  font-family: 'futuraCyrRegular';
  font-size: 18px;
  color: #1c285b;
  padding: 11px 9px 0 0;
}
header div div section h2 {
  margin: 0;
  font-family: 'futuraRegular';
  font-size: 26.04px;
  color: #1c285b;
  padding: 4px 18px 0 0;
}
header div div section button {
  height: 34px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-family: 'futuraLight';
  font-size: 14px;
  line-height: 25px;
  text-transform: uppercase;
  color: #fff;
  background: #1d275a;
  padding: 3px 13px 0 17px;
  cursor: pointer;
}
header hr {
  border: 1px solid #e2ddd8;
  border-right: none;
  border-left: none;
  width: 100%;
  padding-top: 4px;
  margin-top: 43px;
}
header div nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
header div nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 13px 0 20px 10px;
  padding: 0;
  list-style: none;
}
header div nav ul li a {
  display: block;
  text-transform: uppercase;
  font-family: 'futuraLight';
  font-size: 14px;
  color: #5a5a5a;
  text-decoration: none;
  position: relative;
}
header div nav ul li a:before {
  content: '';
  position: absolute;
  width: 0;
  height: 4px;
  background: #1c285b;
  top: -26px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}
header div nav ul li a:hover {
  color: #1c285b;
}
header div nav ul li a:hover:before {
  width: 100%;
}
div.maincontent section div.maincontent__parallax {
  min-height: 350px;
  background: transparent;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  top: -50px;
  width: 100%;
  z-index: -1;
}
div.maincontent section div.maincontent__parallax div {
  content: '';
  position: absolute;
  width: 100%;
  background: #1d275a;
  height: 68px;
  bottom: -1px;
}
div.maincontent section div.maincontent__parallax div div.container h1 {
  content: '';
  position: absolute;
  font-family: 'futuraLight';
  font-size: 34px;
  text-transform: uppercase;
  left: 147px;
  bottom: -10px;
  color: #fff;
  letter-spacing: 0.3px;
}
div.maincontent section div.maincontent__slider {
  border: 9px solid #fff;
  content: '';
  position: absolute;
  right: 127px;
  top: 389px;
}
div.maincontent section div.maincontent__slider div.triangle-right {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 41px solid transparent;
  border-right: 41px solid #fff;
  border-bottom: 41px solid transparent;
  right: 0;
  top: 233px;
  cursor: pointer;
}
div.maincontent section div.maincontent__slider div.triangle-right span {
  position: relative;
  border: 1px solid #5c5c5c;
  border-left: none;
  border-top: none;
  display: block;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -11px;
  right: -17px;
}
div.maincontent section div.maincontent__slider div.triangle-left {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 41px solid transparent;
  border-left: 41px solid #fff;
  border-bottom: 41px solid transparent;
  top: 233px;
  left: 0;
  cursor: pointer;
}
div.maincontent section div.maincontent__slider div.triangle-left span {
  position: relative;
  border: 1px solid #5c5c5c;
  border-right: none;
  border-bottom: none;
  display: block;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -11px;
  left: -40px;
}
div.maincontent section div.maincontent__slider ul {
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
}
div.maincontent section div.maincontent__slider ul li {
  margin: 13px 0 0 8px;
  width: 11px;
  height: 11px;
  background: #e2ddd8;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
div.maincontent section div.maincontent__slider ul li.current-circle {
  background: #1c285b;
}
div.maincontent div.container article {
  width: 499px;
  content: '';
  margin: 13px 0 0 11px;
}
div.maincontent div.container article p {
  font-family: 'futuraCyrRegular';
  font-size: 13px;
  line-height: 20px;
  word-spacing: 0.8px;
  color: #838383;
}
div.maincontent div.container article p:nth-child(2) {
  padding-top: 7px;
}
div.maincontent div.container article p:nth-child(3) {
  padding-top: 7px;
  word-spacing: 0.5px;
}
div.maincontent div.container article p:nth-child(4) {
  padding-top: 7px;
  word-spacing: 0.2px;
}
div.maincontent div.container article p:nth-child(5) {
  padding-top: 7px;
  font-family: 'futuraCyrBold';
  color: #1d275a;
  word-spacing: 0;
}
