@font-face {
    font-family: 'futuraBold';
    src: url('../fonts/futura-md-bt-bold.ttf') format('truetype');
}
@font-face {
    font-family: 'futuraLight';
    src: url('../fonts/futura-md-bt-light.ttf') format('truetype');
}
@font-face {
    font-family: 'futuraRegular';
    src: url('../fonts/futura-md-bt-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'futuraCyrBold';
    src: url('../fonts/futura-md-cyr-bold.ttf') format('truetype');
}
@font-face {
    font-family: 'futuraCyrRegular';
    src: url('../fonts/futura-md-cyr-regular.ttf') format('truetype');
}

@futuraBold: 'futuraBold';
@futuraLight: 'futuraLight';
@futuraRegular: 'futuraRegular';
@futuraCyrBold: 'futuraCyrBold';
@futuraCyrRegular: 'futuraCyrRegular';
@containerWidth: 1155px;
@descrLinColor: #1c285b;
@backgroundParallax: #1d275a;

* {
    box-sizing: border-box;
}

/**
*
* Adjustment settings
*
**/

html,
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

.maincontent {
    flex: 1 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

.container {
    width: @containerWidth;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
}

/**
*
* Header
*
**/


header {
    background: #fff;
    div {
        div {
            display: flex;
            justify-content: space-between;
            margin-top: 6px;
            figure{
                margin: 0;
                //padding-left: 13px;
                span {
                    width: 206px;
                    display: block;
                    margin: 0;
                    img {
                        padding-top: 10px;
                        width: 100%;
                    }
                }
                figcaption {
                    h1 {
                        margin: 0;
                        font-family: @futuraLight;
                        font-size: 24px;
                        line-height: 23px;
                        text-transform: uppercase;
                        color: @descrLinColor;
                        padding-left: 10px;
                        font-stretch: ultra-expanded;
                        letter-spacing: 3.7px;
                    }
                }
            }
            section {
                padding-top: 73px;
                display: flex;
                justify-content: space-between;
                p { 
                    margin: 0;
                    font-family: @futuraCyrRegular;
                    font-size: 18px;
                    color: @descrLinColor;
                    padding: 11px 9px 0 0;
                }
                h2 {
                    margin: 0;
                    font-family: @futuraRegular;
                    font-size: 26.04px;
                    color: @descrLinColor;
                    padding: 4px 18px 0 0;
                }
                button {
                    height: 34px;
                    border-radius: 4px;
                    font-family: @futuraLight;
                    font-size: 14px;
                    line-height: 25px;
                    text-transform: uppercase;
                    color: #fff;
                    background: @backgroundParallax;
                    padding: 3px 13px 0 17px;
                    cursor: pointer;
                }
            }
        }      
    }
    hr {
        border: 1px solid #e2ddd8;
        border-right: none;
        border-left: none;
        width: 100%;
        padding-top: 4px;
        margin-top: 43px;
    }

/**
*
* Header navigation
*
**/


    div {
        nav {
            display: flex;
            flex-flow: column wrap;
            ul {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                margin: 14px 0 20px 10px;
                padding: 0;
                list-style: none;
                li {
                    a {
                        display: block;
                        text-transform: uppercase;
                        font-family: @futuraLight;
                        font-size: 14px;
                        color: #5a5a5a;
                        text-decoration: none;
                        position: relative;
                    }
                    a:before {
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 4px;
                        background: @descrLinColor;
                        top: -26px;
                        left: 50%;
                        transform: translateX(-50%);
                        transition: width .2s ease-in-out;
                    }
                    a:hover {
                        color: @descrLinColor;
                    }
                    a:hover:before {
                        width: 100%;
                    }
                }
            }
        }
    }
}

/**
*
* Big image (parallax)
*
**/

div.maincontent {
    section {
        div.maincontent__parallax {
            min-height: 350px;
            background: transparent;
            position: relative;
            align-items: center;
            top: -50px;
            width: 100%;
            z-index: -1;
            div {
                content: '';
                position: absolute;
                width: 100%;
                background: @backgroundParallax;
                height: 68px;
                bottom: 0;
                div.container {
                    h1 {
                        content: '';
                        position: absolute;
                        font-family: @futuraLight;
                        font-size: 34px;
                        text-transform: uppercase;
                        left: 147px;
                        bottom: -11px;
                        color: #fff;
                        letter-spacing: 0.3px;
                    }
                }
            }
        }

/**
*
* Slider
*
**/

        div.maincontent__slider {
            border: 9px solid #fff;
            content: '';
            position: absolute;
            right: 127px;
            top: 389px;
            div.triangle-right {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-top: 41px solid transparent;
                border-right: 41px solid #fff;
                border-bottom: 41px solid transparent;
                right: 0;
                top: 233px;
                cursor: pointer;
                span {
                    position: relative;
                    border: 1px solid #5c5c5c;
                    border-left: none;
                    border-top: none;
                    display: block;
                    width: 22px;
                    height: 22px;
                    transform: rotate(-45deg);
                    top: -11px;
                    right: -17px;
                }
            }
            div.triangle-left {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-top: 41px solid transparent;
                border-left: 41px solid #fff;
                border-bottom: 41px solid transparent;
                top: 233px;
                left: 0;
                cursor: pointer;
                span {
                    position: relative;
                    border: 1px solid #5c5c5c;
                    border-right: none;
                    border-bottom: none;
                    display: block;
                    width: 22px;
                    height: 22px;
                    transform: rotate(-45deg);
                    top: -11px;
                    left: -40px;
                }
            }
            ul {
                margin: 0;
                display: flex;
                justify-content: flex-end;
                list-style: none;
                li {
                    margin: 13px 0 0 8px;
                    width: 11px;
                    height: 11px;
                    background: #e2ddd8;
                    border-radius: 50%;
                }
                li.current-circle {
                    background: @descrLinColor;
                }
            }
        }
    }
    div.container {
        article {
            width: 499px;
            content: '';
            margin: 13px 0 0 11px;
            p {
                font-family: @futuraCyrRegular;
                font-size: 13px;
                line-height: 20px;
                word-spacing: 0.8px;
                color: #838383;
            }
            p:nth-child(2) {
                padding-top: 7px;
            }
            p:nth-child(3) {
                padding-top: 7px;
                word-spacing: 0.5px;
            }
            p:nth-child(4) {
                padding-top: 7px;
                word-spacing: 0.2px;
            }
            p:nth-child(5) {
                padding-top: 7px;
                font-family: @futuraCyrBold;
                color: @backgroundParallax;
                word-spacing: 0;
            }
        } 
    }

/**
*
* image book
*
**/

    section.maincontent__fotogallery-descr-wrap {
        margin: 86px 0 0 10px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        div {
            hr {
                height: 4px;
                border: 1px solid #e2ddd8;
                border-right: none;
                border-left: none;
                width: 100%;
            }
            h1.maincontent__fotogal-title {
                margin: 20px 0 0 5px;
                font-family: @futuraLight;
                font-size: 18px;
                color: #5a5a5a;
                text-transform: uppercase;
            }

            img {
                margin-top: 15px;
            }
        }
    }

/**
*
* Soc Network
*
**/

    section.maincontent__social-networ {
        margin-top: 68px;
        display: flex;
        justify-content: space-between; 
            hr.social-line-f {
                margin: 11px 0 0 0;
                height: 4px;
                border: 1px solid #e2ddd8;
                border-right: none;
                border-left: none;
                width: 635px;
                }

                img.maincontent__social-img-f {
                    margin: 2px 0 0 21px;
                }
                img.maincontent__social-img-p {
                    margin: 4px 0 0 16px;
                }
                img.maincontent__social-img-tw {
                    margin: 1px 0 0 12px;
                }
                img.maincontent__social-img {
                    margin-left: 11px;
                }
                hr.social-line-s {
                    margin: 11px 0 0 20px;
                    height: 4px;
                    border: 1px solid #e2ddd8;
                    border-right: none;
                    border-left: none;
                    width: 627px;
                }
    }
}

/**
*
* Contacts and links
*
**/

div.maincontent__address-company-newslet-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    section.maincontent__adress-wrap {
        width: 288px;
        display: flex;
        flex-flow: column nowrap;
        margin: 21px 0 0 10px;
        h1 {
            margin: 0;
            padding-left: 2px;
            font-family: @futuraLight;
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            color: #5a5a5a;
        }
        p.maincontent__address-adr {
            margin: 0;
            padding: 10px 0 0 1px;
            font-family: @futuraCyrRegular;
            font-size: 13px;
            color: #959595;
        }
        p.maincontent__address-num {
            margin: 0;
            padding: 6px 0 0 1px;
            font-family: @futuraCyrRegular;
            font-size: 13px;
            color: #959595;
        }
        figure {
            margin: 10px 0 0 0;
            display: flex;
            align-items: center;
            span {
                display: block;
                margin: 4px 0 0 4px;
                img {
                    width: 100%;
                }
            }
            figcaption {
                p.descr-number {
                    margin: 0;
                    padding: 2px 0 0 12px;
                    font-family: @futuraCyrRegular;
                    font-size: 13px;
                    color: #959595;
                    letter-spacing: 0.6px;
                    label {
                        padding-left: 2px;
                        letter-spacing: 0;
                    }
                }
            }
        }
        figure.maincontent__email-wrap {
            margin: 0;
            span.maincontent__img-email-wrap {
                margin: 0;
                padding-top: 4px;
                display: block;
                img {
                    width: 100%;
                }
            }
            figcaption {
                p.descr-email {
                    margin: 0;
                    padding: 2px 0 0 8px;
                    font-family: @futuraCyrRegular;
                    font-size: 13px;
                    color: #959595;
                    letter-spacing: 0.6px;
                    label {
                        padding-left: 9px;
                        letter-spacing: 0.1px;
                        color: @descrLinColor;
                    }
                }
            }
        }
    }
    section.maincontent__lists-links-wrap {
        margin: 48px 0 0 0;
        h1 {
            margin: 0;
            padding-left: 12px;
            font-family: @futuraCyrRegular;
            font-size: 17px;
            text-transform: uppercase;
            letter-spacing: 0.1px;
            color: #5a5a5a;
        }
        div {
            display: flex;
            justify-content: space-between;
            ul.maincontent__list-link-home {
                margin: 0;
                list-style: none;
                padding-left: 12px;
                display: flex;
                flex-flow: column nowrap;
                li {
                    padding-top: 10px;
                    font-family: @futuraCyrRegular;
                    font-size: 13px;
                    line-height: 15px;
                    a {
                        text-decoration: none;
                        color: #959595;
                    }
                    a.current-item-link {
                        color: #c4ab2f;
                    }
                }
            }
            ul.maincontent__list-link-products-serv {
                margin: 0;
                list-style: none;
                padding-left: 33px;
                display: flex;
                flex-flow: column nowrap;

                li {
                    padding-top: 10px;
                    font-family: @futuraCyrRegular;
                    font-size: 13px;
                    line-height: 15px;
                    a {
                        text-decoration: none;
                        color: #959595;
                    }
                    a.current-item-link {
                        color: #c4ab2f;
                    }
                }
            }
        }
    }
    section.maincontent__newsletter-wrap {
        h1 {
            margin: 0;
            padding-top: 1px;
            font-family: @futuraCyrRegular;
            font-size: 17px;
            line-height: 20px;
            text-transform: uppercase;
            letter-spacing: 0.1px;
            color: #5a5a5a;
        }
        p {
            margin: 0;
            padding: 11px 0 0 0;
            font-family: @futuraCyrRegular;
            font-size: 13px;
            color: #959595;
        }
        span.maincontent__newsletter-search-btn {
            margin-top: 15px;
            display: flex;
            border: 1px solid #e2ddd8;
            font-family: @futuraCyrRegular;
            font-size: 13px;
            line-height: 16px;
            color: #959595;
            width: 288px;
            height: 40px;
            text-align: center;
            letter-spacing: 1px;
            input {
                outline: none;
                border: none;
                width: 100%;
                height: 33px;
                padding: 14px 0 7px 13px;
            }
            button {
                cursor: pointer;
                outline: none;
                width: 40px;
                position: relative;
                background: none;
                border-right: none;
                border-top: none;
                border-bottom: none;
            }
            button:after {
                content: '';
                position: absolute;
                border: 1px solid #707070;
                width: 9px;
                height: 9px;
                transform: rotate(45deg);
                border-left: 0;
                border-bottom: 0;
                top: 16px;
                right: 16px;
            }
        }
    }
}

/**
*
* Footer
*
**/

footer {
    background: #f4f3f3;
    margin-top: 52px;
    div {
        section {
            display: flex;
            justify-content: space-between;
            p {
                font-size: 11px;
                color: #959595;
                font-family: @futuraCyrRegular;
                padding: 23px 0 0 10px;
            }
        }
    }
}
