@media screen and (max-width: 1199px) {
    .container {
        width: 970px;
    }
    div.maincontent {
        section {
            div.maincontent__parallax {
                div {
                    div.container {
                        width: 970px;
                    }
                }
            }
            div.container {
                div.maincontent__slider {
                    top: -80px;
                    width: 500px;
                    img {
                        width: 100%;
                    }
                    div.triangle-right {
                        top: 170px;
                    }
                    div.triangle-left {
                        top: 170px;
                    }
                }
            }
        }
        div.container {
            div.maincontent__descr-invitations-wrap {
                width: 450px;
            }
        }
        section.maincontent__fotogallery-descr-wrap {
            div {
                div.image-wrap {
                    display: block;
                    width: 320px;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1025px) {
    .container {
        width: 750px;
    }
}